<div class="academic">
  <h2>Publications</h2>
  {%-for pub in site.data.academic.publications-%}
  <p>
    {{ pub.authors }},
    "<a href="{{ pub.link }}">{{ pub.title }}</a>",
    {{ pub.venue }},
    {{ pub.year }}
  </p>
  {% endfor %}

  <h2>Education</h2>
  {%-for ed in site.data.academic.education-%}
    <p>
      <a>Degree: {{ ed.degree }}, {{ ed.years  }}</a><br>
      <a>Institution: {{ ed.institution }}</a><br>
      <a>Thesis: {{ ed.thesis.title}}</a><br>
      <a>Available: {{ ed.thesis.link}}</a><br>
    </p>
  {% endfor %}
</div>
