<div class="cv">
  <table>
    <tr>
      <th>Employer</th>
      <th>Period</th>
      <th>Description</th>
    </tr>
    {%-for job in site.data.cv.jobs-%}
    <tr>
      <td>{{ job.employer }}</td>
      <td>{{ job.start }} - {{ job.end }}</td>
      <td>{{ job.description }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
