html, body { background: black; }

html { height: 100%; }

body {
  color: gray;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 2rem;
}

header {
    h1 {
        color: grey;
        font-size: 42px;
    }
}

nav {
  padding: 0rem 2rem 1rem;
  a {
      text-decoration: none;
  }
}

main {}
