<!DOCTYPE html>
<html lang="en" data-theme="antitheme">
<head>
  <title>
    {{ site.title }} &middot; {{ page.title }}
  </title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  <link rel="icon" href="{{ "/assets/favicon.png" | relative_url }}" type="image/x-icon">
</head>

  <body>
    <div class="container">

      <header>
        {% if layout.title_override %}
          <h1>{{ layout.title_override }}</h1>
        {% else %}
          <h1>{{ page.title }}</h1>
        {% endif %}
        <nav>
          {%-for item in site.data.nav.pages-%}
            <a href="{{ item.url }}" title="{{ item.title }}">
              __{{ item.title }}__
            </a>
            {% unless forloop.last %}
            <a>|</a>
            {% endunless %}
          {%-endfor-%}
        </nav>
      </header>

      <main>
        {{ content }}
      </main>

      <footer>
      </footer>

    </div>
  </body>

</html>
